
@{
    ViewData["Title"] = "Podcasts";
}
<div class="text-center">
    <h1 class="display-4">Podcasts</h1>
</div>
<div class="text-center">
    <p>Check out this SICK podcast site!</p>
    <a href="https://baconsale.com/">Click here for a dope site!</a>
</div>